<form #tempForm = "ngForm">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Leaving from</p>
      <input class="form-control" type="text" [(ngModel)]="from" name="from" required #from1 = "ngModel">
      <div class="form-control-feedback"
     *ngIf="from1.errors && (from1.dirty || from1.touched)">
        <p class="text-danger" *ngIf="from1.errors.required">Please enter from</p>
      </div> 

    </div>
    <div class="col-md-6">
      <p>Going to</p>
      <input class="form-control" type="text" [(ngModel)]="to" name="to" required>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <p>Date of departure</p>
        <input class="form-control" type="date" name="DOD" required [(ngModel)]="DOD">
      </div>
      <div class="col-md-6">
        <p>Date of return</p>
        <input class="form-control" type="date" name="DOR" required [(ngModel)]="DOR">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input">
          <label>Password</label>
          <input class="form-control" type="password" minlength=6 [(ngModel)]="password" name="password" required #pass = "ngModel">
          <div class="form-control-feedback"
      *ngIf="pass.errors && (pass.dirty || pass.touched)">
      <p class="text-danger" *ngIf="pass.errors.required">password is mandatory</p>
  <p class="text-danger" *ngIf="pass.errors.minlength">password must be atleast 6 characters</p>
</div> 
        </div>
      </div>
      <div class="col-md-6">
        <div class="input">
          <label>Confirm Password</label>
          <input class="form-control" type="password" minlength=6 [(ngModel)]="confirmpassword" 
          name="confirmpassword" 
          appConfirmEqualValidator = "password"
          required 
          #confpass = "ngModel">
          <div class="form-control-feedback"
      *ngIf="confpass.errors && (confpass.dirty || confpass.touched)">
      <p class="text-danger" *ngIf="confpass.errors.required">Please confirm the password</p>
      <p class="text-danger" *ngIf="confpass.errors.notEqual">must match</p>
</div> 
        </div>
      </div>
    </div>
  
</div>
<div class="row">
    <div class="col-md-12">
      <button style="margin-top: 20px;" (click)="show1()" class="btn btn-primary" type="submit">Next</button>
    </div>
  </div>
<ng-container *ngIf="show">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
            <p>Email id</p>
          <input type="email" class="form-control" 
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          name="email" required [(ngModel)] = "email" #email1="ngModel">
          <div class="form-control-feedback"
            *ngIf="email1.errors && (email1.dirty || email1.touched)">
            <p class="text-danger" *ngIf="email1.errors.required">Please enter email id</p>
        <p class="text-danger" *ngIf="email1.errors.pattern">Please enter valid email id</p>
      </div> 
        </div>
        <div class="col-md-6">
            <p>Mobile number</p>
          <input type="tel" class="form-control" name="mob" minlength= "10" required [(ngModel)]="mob" #mob1="ngModel">
          <div class="form-control-feedback"
            *ngIf="mob1.errors && (mob1.dirty || mob1.touched)">
            <p class="text-danger" *ngIf="email1.errors.required">Please enter mob no.</p>
        <p class="text-danger" *ngIf="mob1.errors.minlength">Mob no. should contain 10 characters</p>
      </div> 
        </div>
      </div>
        <div class="row">
          <div class="col-md-6">
              <p>Passenger name</p>
            <input type="text" class="form-control" name="passenger" required [(ngModel)]="passenger">
          </div>
          <div class="col-md-6">
              <p>Age</p>
            <input type="number" class="form-control" name="age" required [(ngModel)]="age">
          </div>
        </div>
      </div>
    <div class="container" style="margin-top: 20px;">
      <div class="row">
        <div class="col-md-6">
          <button style="margin-right: 20px;" type="button" class="btn btn-light">Cancel</button>
          <button type="submit" data-toggle="modal" data-target="#myModal" (click)="submit()" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
    </ng-container>
</form>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Table data preview</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>Leaving from</p>
              <p>{{this.from}}</p>
            </div>
            <div class="col-md-6">
                <p>Going to</p>
                <p>{{this.to}}</p>
              </div>
          </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <p>Date of departure</p>
                <p>{{this.DOD}}</p>
              </div>
              <div class="col-md-6">
                  <p>Date of return</p>
                  <p>{{this.DOR}}</p>
                </div>
            </div>
          </div>
          <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <p>Email id</p>
                  <p>{{this.email}}</p>
                </div>
                <div class="col-md-6">
                    <p>Mobile number</p>
                    <p>{{this.mob}}</p>
                  </div>
              </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <p>Passenger name</p>
                    <p>{{this.passenger}}</p>
                  </div>
                  <div class="col-md-6">
                      <p>passenger age</p>
                      <p>{{this.age}}</p>
                    </div>
                </div>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>

    </div>
  </div>
</div>



